wandb
hydra-core
hydra_zen
hydra_colorlog
accelerate
cloudpickle
jaxtyping
hickle
numpy
scipy
matplotlib
opencv-python
tqdm
pillow
einops
einx

torch-tb-profiler
tensorboardX
tensorboard
autoroot
transformers
bitsandbytes
peft
rich
typer
timm

hdf5plugin
autopep8
imageio
imageio-ffmpeg
debugpy
torchinfo

submitit
pandas
datasets
webdataset

beartype
sysrsync
lmdb
msgpack
simplejpeg

dask
dask-jobqueue
distributed
bokeh
prometheus_client
jupyter-server-proxy
segment-anything-hq
open_clip_torch

ipdb
pdbpp

git+https://github.com/alexanderswerdlow/kornia.git@keypoint_visibility_rebased
git+https://github.com/TUI-NICR/nicr-scene-analysis-datasets#[withpreparation,with3d]