wandb
hydra-core
cloudpickle
jaxtyping
hickle
numpy
scipy
matplotlib
tqdm
opencv-python
pandas
pillow
einops
hydra_colorlog
torch-tb-profiler
tensorboard
autoroot
datasets
typer
hdf5plugin
timm
autopep8
imageio
imageio-ffmpeg
ipdb
debugpy
torchinfo
accelerate
submitit
segment-anything-hq
tensorboardX
torch-tb-profiler
hydra_zen
transformers
open_clip_torch
webdataset
rich
peft
einx
beartype
sysrsync
git+https://github.com/alexanderswerdlow/kornia.git@keypoint_visibility_rebased
git+https://github.com/TUI-NICR/nicr-scene-analysis-datasets#[withpreparation,with3d]